<div style="width:50%;height:auto;margin:10px auto;padding:20px;text-align:center;font-weight:800;border:solid 3px #FF0000;border-radius:20px;font-style:italic;">
	@ChildContent
</div>

@code{
	// The property of type RenderFragment must be named "ChildContent" by convention.
	// Any other name will rise an error.
	[Parameter] public RenderFragment ChildContent { get; set; }
}