@page "/"
@using BasicRazorClassLibrary

<h1>Practical sample about Razor Class Libraries (RCL)</h1>

<Component1></Component1>
<PromptComponent></PromptComponent>
<AlertComponent>Hello!</AlertComponent>
<PacktLogoComponent />