<div class="counter-wrapper">
    <b>@Title</b>
    <br /><span>@CounterProvider.CurrentNumber</span>
    <br /><button @onclick="Increment">Increment</button>
</div>

@code{

    [Parameter]
    public string Title { get; set; }

    [CascadingParameter]
    public CounterProvider CounterProvider { get; set; }

    public void Increment()
    {
        this.CounterProvider.Increment();
    }

}