@inherits LayoutComponentBase
@using System.Runtime.InteropServices;

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        Sample's environment: <b>@this.environment</b>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    private string environment => 
        RuntimeInformation.IsOSPlatform(OSPlatform.Create("WEBASSEMBLY")) ? "WebAssembly" : "Server";
}