<div style="width:50%;height:auto;margin:10px auto;padding:20px;text-align:center;border:solid 3px #FF0000;border-radius:20px;font-style:italic;">
	<h2>@Title</h2>
	@Content
</div>

@code{
	[Parameter]
	public string Content { get; set; }
	
	[Parameter]
	public string Title { get; set; }
}