@page "/"
@using BasicServiceDependencyInjection.Services
@inject IBookAuthoringService BookAuthoringService

<h1>Hello, world!</h1>

<p>Book: @BookAuthoringService.GetBookTitle()</p>
<p>by @BookAuthoringService.GetAuthorName()</p>